*{
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
    color: #e63946;
}

div{
    /*En el padding se pueden especificar los valores para cada uno de los lados*/
    padding: 10px 15px 5px 3px;
    border: 0px solid #457b9d;
    margin: 0px;
    background-color: #f1faee;
    width: 300px;
    /* Permitirá que el contenido se mantenga en 300px */
    box-sizing: border-box;
}
