/* Cada elemento html tiene una propiedad display predeterminada... */

h1, div, p{
    border: 3px solid blueviolet;
    text-align: center;
    color: cornflowerblue;
    padding: 10px;
    /* Display: Block -> Abarca todo el espacio de la linea
    Display: inline -> Coloca los elementos en una sola linea*/
    display: block;
}

h1{
    /* Oculta el elemento de la página */
    display: none;
}

p{
    /* Oculta el elemento pero conserva el espacio en donde va el elemento */
    visibility: hidden;
}

span{
    /* <span> por defecto es de tipo inline */
    display: inline;
    border: 1px solid blue;
}

a{
    display: block;
    text-align: left;
}

li{
    display: inline;
}