h1{
    text-align: center;
    color: #e63946;
}

.caja{
    padding: 10px;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    margin: 5px auto;
    font-size: 10px;
    /* Permite mover las cajas hacia la izquierda... */
    float: left;
}

/* HTML Color Codes: https://htmlcolorcodes.com/color-names/ */
.rojo{
    background-color: crimson;
}

.rosa{
    background-color: deeppink;
}

.rgb{
    background-color: rgb(131, 56, 236);
}

.rgba{
    /* En el canal alpha permite establecer el valor de las transparencias
    Dependiendo de el valor asignado, más transparente será. Si alpha es más
    Cercano a 0 será más transparente, mientras que si es más cercano a 1
    será un color más sólido. */
    background-color: rgba(131, 56, 236, .5);
}